:root {
    --main-color: #eeeeee;
    --invitation-state: 0deg;
    --invitation-position: 0;
}

body {
    width: 100%;
    height: 100%;

    overflow: hidden;
    position: relative;

    background-color: aliceblue;
}

#particles-js {
    position: fixed; 
    inset: 0; 
    width: 100%; 
    height: 100dvh;

    background-image: url(https://static.vecteezy.com/system/resources/previews/004/675/104/non_2x/cute-seamless-pattern-with-birthday-party-hats-funny-repeating-background-with-b-day-accessory-bright-holiday-digital-paper-for-kids-vector.jpg);
}

main {
    width: calc(100% + 1.125rem);
    height: 100dvh;
    display: flex;

    position: absolute;
    right: -1.125rem;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    & #wrapper {
        width: 100%;
        height: 300dvh;
    
        display: flex;
        justify-content: center;
    
        position: relative;
    }
}

#invitation {
    width: 31.25rem;
    height: 37.5rem;
    perspective: 62.5rem;

    position: fixed;
    top: 50%;
    left: 50%;

    translate: var(--invitation-position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    touch-action: none;

    &>div {
        position: absolute;
        height: 100%;
        width: 100%;
    
        position: absolute;
        transform-style: preserve-3d;

        &#cover-page {
            transform-origin: left;
        
            rotate: 0 1 0 var(--invitation-state);
        
            &>section {
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;

                backface-visibility: hidden;
                background-color: var(--main-color);
                padding: 0.625rem 0 0.625rem 0;
                line-height: 1;

                display: grid;
                place-items: center;

                box-shadow: 
                    inset 0.125rem 0.125rem 0rem rgb(70, 70, 70), 
                    inset -0.125rem -0.125rem 0rem rgb(70, 70, 70);

                &:first-child {
                    rotate: 0 1 0 180deg;
                    padding: 0.625rem 0;
                    font-family: 'lucy', sans-serif;
                    background-image: url('../src/images/background-1.webp');
                    background-size: cover;
                    background-position: center;

                    & h2 {
                        bottom: 3.125rem;
                        font-size: 3rem;
                    }

                    & video {
                        width: 22.5rem;
                        height: 30rem;
                        border-radius: 0.625rem;
                        border: 0.625rem solid white;
                        outline: 0.0625rem solid black;
                        overflow: hidden;
                    }
                }
        
                &:last-child {
                    transform: translateZ(0.0625rem);
                    font-family: 'lucy', sans-serif;
                    font-size: 3rem;
                    text-align: center;
                    line-height: .8;

                    display: grid;
                    place-items: center;
                    background-image: url('../src/images/background-1.webp');
                    background-size: cover;
                    background-position: center;

                    & figure {
                        width: 18.75rem;
                        height: 18.75rem;
                        overflow: hidden;

                        &> img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        
        &#content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.25rem;
            box-shadow: 
            inset 0rem 0.125rem 0rem rgb(70, 70, 70), 
            inset -0.125rem -0.125rem 0rem rgb(70, 70, 70);
            background-color: var(--main-color); 
            padding: 1.25rem;      
            background-image: url('../src/images/background-1.webp');
            background-size: cover;
            background-position: center;
            font-size: 3rem;
            text-align: center;
            line-height: 1;

            & span {
                font-family: 'spacetime', sans-serif;
                font-size: 2rem;
                font-weight: bold;
                font-style: italic;
            }

            & time {
                font-family: 'spacetime', sans-serif;
                font-size: 2rem;
                font-weight: bold;
                font-style: italic;
            }

            & figure {
                outline: 0.0625rem solid black;
                border-radius: 0.625rem;
                overflow: hidden;
                width: 100%;
                height: 12.5rem;

                &> img {
                    border-radius: 0.625rem;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            & #confirm {
                transition: opacity .3s;
                pointer-events: none;
                touch-action: auto;
                opacity: .5;
                background-color: rgb(30, 172, 49);
                text-decoration: none;
                color: white;
                font-weight: bold;
                padding: 0.625rem;
                font-size: 2rem;
                border: 0.0625rem solid black;
                border-radius: 0.625rem;
                font-family: 'sans-serif';

                &:hover {
                    background-color: rgb(15, 121, 40)
                }
            }
        }
    }
}

#do-scroll {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 50%;
    color: black;
    z-index: 999;
    translate: -50%;
    font-size: 2rem;
    font-family: sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,212,255,0) 99%); 
    text-align: center;
    padding: 1.25rem 0.625rem;
    font-weight: bold;
    pointer-events: none;
    touch-action: none;

    animation-name: scale;
    animation-timing-function: ease;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.is-invisible {
    display: none;
}

.enable {
    pointer-events: all !important;
    touch-action: auto;
    opacity: 1 !important;
}

@media (width < 31.25rem) {
    #invitation {
        width: 23.4375rem;
        height: 31.25rem;
        &>div {
            &#cover-page {            
                &>section {
                    padding: 0.3125rem 0 0.3125rem 0;
                    &:first-child {
                        & h2 {
                            font-size: 2.3rem;
                            text-align: center;
                        }
                        & video {
                            width: 15.625rem;
                            height: fit-content;
                        }
                    }
                    &:last-child {
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
    #do-scroll {
        font-size: 1.3rem;
    }
}

@keyframes scale {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}