:root {
    --main-color: #eeeeee;
    --invitation-state: 0deg;
    --invitation-position: 0;
}

body {
    width: 100%;
    height: 100%;

    overflow: hidden;
    position: relative;

    background-color: aliceblue;
}

#particles-js {
    position: fixed; 
    inset: 0; 
    width: 100%; 
    height: 100vh;

    background-image: url(https://static.vecteezy.com/system/resources/previews/004/675/104/non_2x/cute-seamless-pattern-with-birthday-party-hats-funny-repeating-background-with-b-day-accessory-bright-holiday-digital-paper-for-kids-vector.jpg);
}

main {
    width: calc(100% + 18px);
    height: 100vh;
    display: flex;

    position: absolute;
    right: -18px;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    & #wrapper {
        width: 100%;
        height: 300vh;
    
        display: flex;
        justify-content: center;
    
        position: relative;
    }
}

#invitation {
    width: 500px;
    /* margin: 20px 0 20px 0; */
    height: 600px;
    /* max-height: calc(100vh - 40px); */
    perspective: 1000px;

    position: fixed;
    /* top: 20px; */
    top: 50%;
    left: 50%;

    translate: var(--invitation-position);
    transform: translate(-50%, -50%);
    pointer-events: none;

    &>div {
        position: absolute;
        height: 100%;
        width: 100%;
    
        position: absolute;
        transform-style: preserve-3d;

        &#cover-page {
            transform-origin: left;
        
            rotate: 0 1 0 var(--invitation-state);
        
            &>section {
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;

                backface-visibility: hidden;
                background-color: var(--main-color);
                padding: 10px 0 10px 0;
                line-height: 1;

                display: grid;
                place-items: center;

                box-shadow: 
                    inset 2px 2px 0px rgb(70, 70, 70), 
                    inset -2px -2px 0px rgb(70, 70, 70);

                &:first-child {
                    
                    rotate: 0 1 0 180deg;
                    padding: 10px 0;
                    font-family: 'lucy';
                    background-image: url('../src/images/background-1.webp');

                    & h2 {
                        /* position: absolute; */
                        bottom: 50px;
                        font-size: 3rem;
                    }

                    & figure {
                        width: 360px;
                        height: 480px;
                        border-radius: 10px;
                        border: 10px solid white;
                        outline: 1px solid black;
                        overflow: hidden;

                        &> img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                }
        
                &:last-child {
                    transform: translateZ(1px);
                    font-family: 'lucy';
                    font-size: 3rem;
                    text-align: center;
                    line-height: .8;

                    display: grid;
                    place-items: center;
                    background-image: url('../src/images/background-1.webp');

                    & figure {
                        width: 300px;
                        height: 300px;
                        border-radius: 65% 35% 60% 40% / 50% 50% 50% 50%;
                        border: 10px solid white;
                        outline: 1px solid black;
                        overflow: hidden;

                        &> img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        
        &#content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-shadow: 
            inset 0px 2px 0px rgb(70, 70, 70), 
            inset -2px -2px 0px rgb(70, 70, 70);
            background-color: var(--main-color); 
            padding: 20px;      
            background-image: url('../src/images/background-1.webp');
            
            /* font-family: 'lucy'; */
            font-size: 3rem;
            text-align: center;
            line-height: 1;

            & span {
                font-family: 'spacetime';
                font-size: 2rem;
                font-weight: bold;
                font-style: italic;
            }

            & time {
                font-family: 'spacetime';
                font-size: 2rem;
                font-weight: bold;
                font-style: italic;
            }

            & figure {
                outline: 1px solid black;
                border-radius: 10px;
                overflow: hidden;
                width: 100%;
                height: 200px;

                &> img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            & #confirm {
                pointer-events: all;
                background-color: rgb(255, 40, 76);
                text-decoration: none;
                color: white;
                font-weight: bold;
                padding: 10px;
                font-size: 2rem;
                border: 1px solid black;
                border-radius: 10px;
                font-family: 'sans-serif';

                &:hover {
                    background-color: rgb(255, 0, 43)
                }
            }
        }
    }
}